@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    background-color: #F3F3F3;
}
.navbar{
    background-color: #162C53 !important;
}
.navbar-brand{
    font-weight: 700;
    font-size: 24px;
    color:white !important;
}
.navbar-nav a{
    font-weight: 700;
    font-size: 16px;
    color:white !important;
}
.navbar a.active{
    background-color: white !important;
    color:#162C53 !important;
    border-radius: 20px;
}
.home{
    margin-top:120px;
}
.home img{
    width:100%;
}
.right-home{
    display:flex;
    align-items: center;
    margin-top:30px;
}
.right-home-content{
    text-align: center;
}
.home h2 span{
    font-weight: 700;
}
.home p span{
    font-weight: 700;
}
.btn-edited{
    background-color: #162C53 !important;
    color:white !important;
    border-radius: 10px !important;
}
.program{
    margin-top:120px;
    background-color: #DBDBDB;
    padding-bottom:40px;
}
.program h4{
    padding:40px 0;
    font-weight: 700;
}
.card-edited{
    background-color: #F3F3F3 !important;
    border:none !important;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgb(190, 190, 190);
}
.card-edited h6{
    text-align: center;
    font-style: italic;
}
.card-edited .p-b, .accordion-item .p-b{
    font-weight: 700;
}
.card-edited .p-e, .accordion-item .p-e{
    line-height: 15px;
}
.accordion-item{
    margin-bottom: 20px !important;
    border-radius: 25px !important;
    box-shadow: 1px 1px 10px rgb(190, 190, 190);
    background-color: #F3F3F3 !important;
}
.accordion-item h6{
    font-style: italic;
    margin: none !important;
}
.accordion-button{
    border-radius: 25px !important;
    background-color: #F3F3F3 !important;
}
.p-pro-bott{
    font-weight: 700;
    text-align: center;
}
.register{
    margin-top:40px;
    padding-bottom:40px;
}
.register h4{
    font-weight: 700;
}
.fc-edited{
    border:none !important;
    box-shadow: 1px 1px 10px rgb(190, 190, 190);
    border-radius: 10px !important;
}
.register h5{
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}
.register .btn-ctr{
    text-align: center !important;
}
.register h5 span{
    font-weight: 700;
}
.footer{
    background-color: #162C53 !important;
    color:rgb(255, 196, 0);
    font-weight: 700;
    text-align: center;
    padding:20px 0;
}

/* responsive */

/* laptop */
@media (min-width: 992px) {
    .right-home{
        margin-top:0;
    }
    .home img{
        width:80%;
    }
    .right-home-content{
        text-align: left;
    }
    .register h5{
        text-align: left;
    }
    .register .btn-ctr{
        text-align: left !important;
    }
}